@import 'bootstrap/dist/css/bootstrap';
 .field_with_errors input, .field_with_errors textarea{
    border-color: red;
 }
 @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

 * {
    box-sizing: border-box;
 }

 $body-bg: #115173;
 $preview-card-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
 $preview-card-border-radius: 25px;
 $preview-card-image-bg: linear-gradient(147deg, #000 0%, #000 74%);
 $preview-card-image-bg-after: linear-gradient(147deg, #000 0%, #000 74%);
 $preview-card-image-shadow: 0px 3px 10px 1px rgba(252, 56, 56, 0.2);
 $preview-card-code: #7b7992;
 $preview-card-title: #0d0925;
 $preview-card-desc: #4e4a67;
 $preview-card-button-text: #fff;
 $preview-card-button-text-hover: #ffffff;
 $preview-card-button-bg: linear-gradient(147deg, #000 0%, #000 74%);
 $preview-card-button-shadow: 0px 3px 10px rgba(252, 56, 56, 0.4);

 body {
    background-color: $body-bg;
    min-height: 100vh;
    font-family: "Fira Sans", sans-serif;
    //display: flex;
 }

 .preview-card {
    position: relative;
    margin: 15px;
    background: #F7F1E5;
    box-shadow: $preview-card-shadow;
    padding: 20px 25px 20px;
    border-radius: 12px;
    //height: 400px;
    transition: all 0.3s;

    @media screen and (max-width: 992px) {
       //max-width: 680px;
       height: auto;
    }

    @media screen and (max-width: 768px) {
       min-height: 500px;
       height: auto;
       margin: 130px auto;
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
       height: auto;
    }

    &__item {
       display: flex;
       align-items: center;

       @media screen and (max-width: 768px) {
          flex-direction: column;
       }

       &.swiper-slide-active {
          .blog-slider__img {
             img {
                opacity: 1;
                transition-delay: 0.3s;
             }
          }

          .blog-slider__content {
             >* {
                opacity: 1;
                transform: none;

                @for $i from 0 to 15 {
                   &:nth-child(#{$i + 1}) {
                      transition-delay: $i * 0.1 + 0.3s;
                   }
                }
             }
          }
       }
    }

    &__img {
       width: 300px;
       flex-shrink: 0;
       height: 300px;
       background-image: $preview-card-image-bg;
       box-shadow: $preview-card-image-shadow;
       border-radius: 20px;
       transform: translateX(-80px);
       overflow: hidden;

       &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
           border-radius: 20px;
        }

       img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          opacity: 1;
          border-radius: 20px;
          transition: all 0.3s;
       }

       @media screen and (max-width: 992px) {
          // width: 45%;
       }

       @media screen and (max-width: 768px) {
          transform: translateY(-50%);
          width: 90%;
       }

       @media screen and (max-width: 576px) {
          width: 95%;
       }

       @media screen and (max-height: 500px) and (min-width: 992px) {
          height: 270px;
       }
    }

    &__content {
       // width: 60%;
       padding-right: 25px;

       @media screen and (max-width: 992px) {
          // width: 55%;
       }

       @media screen and (max-width: 768px) {
          margin-top: -80px;
          text-align: center;
          padding: 0 30px;
       }

       @media screen and (max-width: 576px) {
          padding: 0;
       }

       >* {
          transform: translateY(25px);
          transition: all 0.4s;
       }
    }

    &__code {
       color: $preview-card-code;
       margin-bottom: 15px;
       display: block;
       font-weight: 500;
    }

    &__title {
       font-size: 24px;
       font-weight: 700;
       color: $preview-card-title;
       margin-bottom: 20px;
    }

    &__text {
       color: $preview-card-desc;
       margin-bottom: 30px;
       line-height: 1.5em;
    }

    &__button {
       display: inline-flex;
       background-color: #053f5e;
        padding: 15px 35px;
       margin-bottom: 30px;
       border-radius: 5px;
       color: $preview-card-button-text;
       box-shadow: $preview-card-button-shadow;
       text-decoration: none;
       font-weight: 500;
       justify-content: center;
       text-align: center;
       letter-spacing: 1px;

       &:hover {
          color:#ffd700 ;
          text-decoration: none;
       }

       @media screen and (max-width: 576px) {
          width: 100%;
       }
    }
 }
 input[type="submit"]{
   outline: none;
   border: none;
 }
 label{
   font-size: 20px;
 }
 .bg-nav{
   background-color: #ffd700;
   position: fixed;
   z-index: 2;
   top: 0;
   right: 0;
   left: 0;
  }
  .bg-button{
   background-color: #053f5e;
  }
.bg-card{
    background-color: #F7F1E5;
    border-radius: 13px;
    box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);

 }
 body{
   background-color:  #053f5e;
   color: white !important;
 }
 .create-button,.flash-message-bg{
   background-color: #ffd700;
   color: black;
 }
.create-button:hover,.flash-message-bg:hover{
     color: #053f5e;

  }
.form-control{
   min-height: 50px !important;
}
 
 
// pagination style 
.apple_pagination {
 
   text-align: center;
   padding: 1em;
   cursor: default;
   text-decoration: none;
}

.apple_pagination a,
.apple_pagination span {
   padding: 0.2em 0.3em;
   padding: 4px;
   background: #ffd700;
    border-radius: 4px;
}

.apple_pagination .disabled {
   color: #053f5e;
}

.apple_pagination .current {
   font-style: normal;
   font-weight: bold;
   background-color: #ffd700;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   line-height: 1.5;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   color: black;
   text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
   text-decoration: none;
    font-size: 18px;
   padding: 4px 7px;
   color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
   color: #053f5e;
   background-color: #F7F1E5;
}
.badge{
   background-color: #053f5e !important;
   color: white;
   padding: 5px;
}

.badge:hover{
   color: #ffd700;
}