<div class="container mt-2">
    <h1  class="text-center mt-3">All Articles In <%= @category.name  %> Category</h1>
     <%= render 'articles/articles_card' %>
     <div class="apple_pagination">
         <%= will_paginate @articles, :container => false %>
     </div>
</div>