<% flash.each do |name,msg|%>
 <div class="alert flash-message-bg alert-dismissible fade show container mt-3" role="alert">
   <strong> <%= msg%></strong>  
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
</div>
<%end%>